<a href="https://colab.research.google.com/github/dpdms529/ML/blob/main/homework2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import os
os.environ['KAGGLE_USERNAME'] = ""
os.environ['KAGGLE_KEY'] = ""

In [2]:
!kaggle datasets download -d kandij/diabetes-dataset

Downloading diabetes-dataset.zip to /content
  0% 0.00/8.92k [00:00<?, ?B/s]
100% 8.92k/8.92k [00:00<00:00, 16.5MB/s]

In [3]:
!unzip diabetes-dataset.zip

Archive:  diabetes-dataset.zip
  inflating: diabetes2.csv

In [4]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.optimizers import Adam,SGD
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [5]:
df = pd.read_csv('diabetes2.csv')
df.head(5)

   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
0            6      148             72  ...                     0.627   50        1
1            1       85             66  ...                     0.351   31        0
2            8      183             64  ...                     0.672   32        1
3            1       89             66  ...                     0.167   21        0
4            0      137             40  ...                     2.288   33        1

[5 rows x 9 columns]

In [6]:
x_data = df.drop(columns=['Outcome'], axis = 1)
x_data = x_data.astype(np.float32)

x_data.head(5)

   Pregnancies  Glucose  ...  DiabetesPedigreeFunction   Age
0          6.0    148.0  ...                     0.627  50.0
1          1.0     85.0  ...                     0.351  31.0
2          8.0    183.0  ...                     0.672  32.0
3          1.0     89.0  ...                     0.167  21.0
4          0.0    137.0  ...                     2.288  33.0

[5 rows x 8 columns]

In [7]:
y_data = df[['Outcome']]
y_data = y_data.astype(np.float32)

y_data.head(5)

   Outcome
0      1.0
1      0.0
2      1.0
3      0.0
4      1.0

In [8]:
scaler = StandardScaler()
x_data_scaled = scaler.fit_transform(x_data)

print(x_data.values[0])
print(x_data_scaled[0])

[  6.    148.     72.     35.      0.     33.6     0.627  50.   ]
[ 0.6399473   0.8483238   0.14964075  0.90726995 -0.6928905   0.20401257
  0.46849188  1.4259955 ]

In [9]:
x_train, x_val, y_train, y_val = train_test_split(x_data_scaled, y_data, test_size = 0.2, random_state = 2021)

print(x_train.shape,x_val.shape)
print(y_train.shape,y_val.shape)

(614, 8) (154, 8)
(614, 1) (154, 1)

In [11]:
model = Sequential([
                    Dense(1, activation='sigmoid')
])

model.compile(loss='binary_crossentropy', optimizer=Adam(lr=0.01),metrics=['acc'])

model.fit(
    x_train,
    y_train,
    validation_data = (x_val, y_val),
    epochs=20
)

/usr/local/lib/python3.7/dist-packages/tensorflow/python/keras/optimizer_v2/optimizer_v2.py:375: UserWarning: The `lr` argument is deprecated, use `learning_rate` instead.
  "The `lr` argument is deprecated, use `learning_rate` instead.")

Epoch 1/20
20/20 [==============================] - 1s 10ms/step - loss: 0.7174 - acc: 0.6010 - val_loss: 0.6622 - val_acc: 0.6299
Epoch 2/20
20/20 [==============================] - 0s 2ms/step - loss: 0.6348 - acc: 0.6743 - val_loss: 0.5983 - val_acc: 0.6623
Epoch 3/20
20/20 [==============================] - 0s 3ms/step - loss: 0.5812 - acc: 0.7020 - val_loss: 0.5532 - val_acc: 0.7013
Epoch 4/20
20/20 [==============================] - 0s 3ms/step - loss: 0.5447 - acc: 0.7215 - val_loss: 0.5244 - val_acc: 0.7143
Epoch 5/20
20/20 [==============================] - 0s 3ms/step - loss: 0.5216 - acc: 0.7557 - val_loss: 0.5100 - val_acc: 0.7273
Epoch 6/20
20/20 [==============================] - 0s 3ms/step - loss: 0.5073 - acc: 0.7671 - val_loss: 0.4965 - val_acc: 0.7597
Epoch 7/20
20/20 [==============================] - 0s 3ms/step - loss: 0.4966 - acc: 0.7704 - val_loss: 0.4918 - val_acc: 0.7468
Epoch 8/20
20/20 [==============================] - 0s 3ms/step - loss: 0.4880 - acc: 0.7785 - val_loss: 0.4835 - val_acc: 0.7597
Epoch 9/20
20/20 [==============================] - 0s 2ms/step - loss: 0.4836 - acc: 0.7769 - val_loss: 0.4805 - val_acc: 0.7597
Epoch 10/20
20/20 [==============================] - 0s 3ms/step - loss: 0.4815 - acc: 0.7752 - val_loss: 0.4756 - val_acc: 0.7792
Epoch 11/20
20/20 [==============================] - 0s 3ms/step - loss: 0.4786 - acc: 0.7785 - val_loss: 0.4744 - val_acc: 0.7792
Epoch 12/20
20/20 [==============================] - 0s 3ms/step - loss: 0.4766 - acc: 0.7834 - val_loss: 0.4734 - val_acc: 0.7727
Epoch 13/20
20/20 [==============================] - 0s 3ms/step - loss: 0.4760 - acc: 0.7785 - val_loss: 0.4713 - val_acc: 0.7727
Epoch 14/20
20/20 [==============================] - 0s 3ms/step - loss: 0.4755 - acc: 0.7801 - val_loss: 0.4713 - val_acc: 0.7727
Epoch 15/20
20/20 [==============================] - 0s 3ms/step - loss: 0.4746 - acc: 0.7818 - val_loss: 0.4708 - val_acc: 0.7727
Epoch 16/20
20/20 [==============================] - 0s 2ms/step - loss: 0.4751 - acc: 0.7769 - val_loss: 0.4688 - val_acc: 0.7922
Epoch 17/20
20/20 [==============================] - 0s 3ms/step - loss: 0.4740 - acc: 0.7785 - val_loss: 0.4692 - val_acc: 0.7857
Epoch 18/20
20/20 [==============================] - 0s 2ms/step - loss: 0.4750 - acc: 0.7769 - val_loss: 0.4675 - val_acc: 0.7857
Epoch 19/20
20/20 [==============================] - 0s 3ms/step - loss: 0.4740 - acc: 0.7785 - val_loss: 0.4694 - val_acc: 0.7857
Epoch 20/20
20/20 [==============================] - 0s 2ms/step - loss: 0.4740 - acc: 0.7785 - val_loss: 0.4689 - val_acc: 0.7792